@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Risque&display=swap");
.h1 {
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
}

.h2 {
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
}

.h3 {
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
}

.h4 {
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
}

.h5 {
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
}

.h6 {
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
}

.fancy-h1 {
  font-weight: 600;
  font-family: "Risque", cursive;
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.fancy-h2 {
  font-weight: 600;
  font-family: "Risque", cursive;
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.fancy-h3 {
  font-weight: 600;
  font-family: "Risque", cursive;
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.fancy-h4 {
  font-weight: 600;
  font-family: "Risque", cursive;
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.fancy-h5 {
  font-weight: 600;
  font-family: "Risque", cursive;
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.fancy-h6 {
  font-weight: 600;
  font-family: "Risque", cursive;
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

*,
*:after,
*:before {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: steelblue;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted grey;
}

img {
  max-width: 100%;
}

.test {
  color: blueviolet;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.gap-0 > * {
  padding: 0;
}

.gap-0 {
  margin-left: 0;
  margin-right: 0;
}

.gap-1 > * {
  padding: 10px;
}

.gap-1 {
  margin-left: -10px;
  margin-right: -10px;
}

.gap-2 > * {
  padding: 20px;
}

.gap-2 {
  margin-left: -20px;
  margin-right: -20px;
}

.gap-3 > * {
  padding: 30px;
}

.gap-3 {
  margin-left: -30px;
  margin-right: -30px;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

@media (min-width: 0) {
  .col-1-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 576px) {
  .col-1-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .col-1-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .col-1-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-1-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 1400px) {
  .col-1-xxl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-xxl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-xxl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-xxl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-xxl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-xxl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-xxl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-xxl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-xxl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-xxl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-xxl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-xxl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
.text-lg-white {
  color: white;
}

.lg-white:hover {
  color: #b3b3b3;
}

.bg-lg-white {
  background-color: white;
}

.bg-lg-white:hover {
  background-color: #b3b3b3;
}

.text-lg-pink1 {
  color: #d5b5b7;
}

.lg-pink1:hover {
  color: #9a575b;
}

.bg-lg-pink1 {
  background-color: #d5b5b7;
}

.bg-lg-pink1:hover {
  background-color: #9a575b;
}

.text-lg-green1 {
  color: #a9c7c4;
}

.lg-green1:hover {
  color: #55827e;
}

.bg-lg-green1 {
  background-color: #a9c7c4;
}

.bg-lg-green1:hover {
  background-color: #55827e;
}

.text-lg-green2 {
  color: #90aaad;
}

.lg-green2:hover {
  color: #465c5e;
}

.bg-lg-green2 {
  background-color: #90aaad;
}

.bg-lg-green2:hover {
  background-color: #465c5e;
}

.text-lg-almond {
  color: #f7dec8;
}

.lg-almond:hover {
  color: #e48e42;
}

.bg-lg-almond {
  background-color: #f7dec8;
}

.bg-lg-almond:hover {
  background-color: #e48e42;
}

.text-lg-lightgrey {
  color: #d1d7d3;
}

.lg-lightgrey:hover {
  color: #7f9085;
}

.bg-lg-lightgrey {
  background-color: #d1d7d3;
}

.bg-lg-lightgrey:hover {
  background-color: #7f9085;
}

.text-lg-maxyellow {
  color: #f9c977;
}

.lg-maxyellow:hover {
  color: #ce8509;
}

.bg-lg-maxyellow {
  background-color: #f9c977;
}

.bg-lg-maxyellow:hover {
  background-color: #ce8509;
}

.text-dk-black {
  color: black;
}

.dk-black:hover {
  color: #4d4d4d;
}

.bg-dk-black {
  background-color: black;
}

.bg-dk-black:hover {
  background-color: #4d4d4d;
}

.text-dk-grey {
  color: grey;
}

.dk-grey:hover {
  color: #cdcdcd;
}

.bg-dk-grey {
  background-color: grey;
}

.bg-dk-grey:hover {
  background-color: #cdcdcd;
}

.text-dk-pink2 {
  color: #755457;
}

.dk-pink2:hover {
  color: #bea4a7;
}

.bg-dk-pink2 {
  background-color: #755457;
}

.bg-dk-pink2:hover {
  background-color: #bea4a7;
}

.text-dk-pink3 {
  color: #9f535b;
}

.dk-pink3:hover {
  color: #d8b3b7;
}

.bg-dk-pink3 {
  background-color: #9f535b;
}

.bg-dk-pink3:hover {
  background-color: #d8b3b7;
}

.text-dk-green3 {
  color: #73a2a1;
}

.dk-green3:hover {
  color: #cfdfdf;
}

.bg-dk-green3 {
  background-color: #73a2a1;
}

.bg-dk-green3:hover {
  background-color: #cfdfdf;
}

.text-dk-slategrey {
  color: #2a5653;
}

.dk-slategrey:hover {
  color: #65b4ae;
}

.bg-dk-slategrey {
  background-color: #2a5653;
}

.bg-dk-slategrey:hover {
  background-color: #65b4ae;
}

.text-dk-terracotta {
  color: #e36d63;
}

.dk-terracotta:hover {
  color: #fae6e5;
}

.bg-dk-terracotta {
  background-color: #e36d63;
}

.bg-dk-terracotta:hover {
  background-color: #fae6e5;
}

.text-dk-alert {
  color: #fa463b;
}

.dk-alert:hover {
  color: #fed3d0;
}

.bg-dk-alert {
  background-color: #fa463b;
}

.bg-dk-alert:hover {
  background-color: #fed3d0;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.5rem;
}

.p-2 {
  padding: 1rem;
}

.p-3 {
  padding: 2rem;
}

.p-4 {
  padding: 3rem;
}

.p-5 {
  padding: 4rem;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 0.5rem;
}

.pl-2 {
  padding-left: 1rem;
}

.pl-3 {
  padding-left: 2rem;
}

.pl-4 {
  padding-left: 3rem;
}

.pl-5 {
  padding-left: 4rem;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 0.5rem;
}

.pr-2 {
  padding-right: 1rem;
}

.pr-3 {
  padding-right: 2rem;
}

.pr-4 {
  padding-right: 3rem;
}

.pr-5 {
  padding-right: 4rem;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 0.5rem;
}

.pt-2 {
  padding-top: 1rem;
}

.pt-3 {
  padding-top: 2rem;
}

.pt-4 {
  padding-top: 3rem;
}

.pt-5 {
  padding-top: 4rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 0.5rem;
}

.pb-2 {
  padding-bottom: 1rem;
}

.pb-3 {
  padding-bottom: 2rem;
}

.pb-4 {
  padding-bottom: 3rem;
}

.pb-5 {
  padding-bottom: 4rem;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.5rem;
}

.m-2 {
  margin: 1rem;
}

.m-3 {
  margin: 2rem;
}

.m-4 {
  margin: 3rem;
}

.m-5 {
  margin: 4rem;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 0.5rem;
}

.ml-2 {
  margin-left: 1rem;
}

.ml-3 {
  margin-left: 2rem;
}

.ml-4 {
  margin-left: 3rem;
}

.ml-5 {
  margin-left: 4rem;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 0.5rem;
}

.mr-2 {
  margin-right: 1rem;
}

.mr-3 {
  margin-right: 2rem;
}

.mr-4 {
  margin-right: 3rem;
}

.mr-5 {
  margin-right: 4rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.5rem;
}

.mt-2 {
  margin-top: 1rem;
}

.mt-3 {
  margin-top: 2rem;
}

.mt-4 {
  margin-top: 3rem;
}

.mt-5 {
  margin-top: 4rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.mb-2 {
  margin-bottom: 1rem;
}

.mb-3 {
  margin-bottom: 2rem;
}

.mb-4 {
  margin-bottom: 3rem;
}

.mb-5 {
  margin-bottom: 4rem;
}

.o-10 {
  opacity: 0.1;
}

.o-20 {
  opacity: 0.2;
}

.o-30 {
  opacity: 0.3;
}

.o-40 {
  opacity: 0.4;
}

.o-50 {
  opacity: 0.5;
}

.o-60 {
  opacity: 0.6;
}

.o-70 {
  opacity: 0.7;
}

.o-80 {
  opacity: 0.8;
}

.o-90 {
  opacity: 0.9;
}

.o-100 {
  opacity: 1;
}

.br {
  border-radius: 10px;
}

.br-none {
  border-radius: 0;
}

.br-xs {
  border-radius: 2.5px;
}

.br-sm {
  border-radius: 5px;
}

.br-lg {
  border-radius: 20px;
}

.br-full {
  border-radius: 50%;
}

.display-n {
  display: none;
}

.display-b {
  display: block;
}

.display-f {
  display: flex;
}

.display-i {
  display: inline;
}

.display-i-b {
  display: inline-block;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.align-content-center {
  align-content: center;
}

.align-content-start {
  align-content: flex-start;
}

.align-content-end {
  align-content: flex-end;
}

.align-content-between {
  align-content: space-between;
}

.align-content-around {
  align-content: space-around;
}

.align-content-stretch {
  align-content: stretch;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-stretch {
  align-items: stretch;
}

.align-items-baseline {
  align-items: baseline;
}

.font-sm {
  font-size: 0.75rem;
}

.font-md {
  font-size: 1rem;
}

.font-lg {
  font-size: 1.5rem;
}

.font-xl {
  font-size: 2rem;
}

.font-xxl {
  font-size: 3rem;
}

.font-weight-regular {
  font-weight: 400;
}

.font-weight-semi-bold {
  font-weight: 600;
}

.font-weight-bold {
  font-weight: 700;
}
